.about-section {
    width: 100%;
    padding-bottom: 2rem;
    position: relative;
    background: url(../images/pictures_of_me/IMG_7966-2.jpg);
    background-size: cover;
    
}

.about-inner {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
    display: flex;
}
.about-text {
    display: flex;
    padding-right: 50px;
    flex-direction: column;
    align-items: center;
    h2 {
        text-align: center;
    }
    p {
        font-size: 24px;
    }
}

.about-pictures {
    display: none;
}