.banner-wrapper {
    height: 250px;
    width: 100%;
    position: relative;
    background: url(/images/banner.jpg) no-repeat center/cover;
    box-shadow: inset 20px 30px 40px 10px black;
}
.inner-wrapper {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    p {
        text-transform: capitalize;
    }
}