.header-wrapper {
    width: 100%;
    display: flex;
}
.nav-wrapper {
    width: 90%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.logo-div {
    flex: 1;
}
.logo {
    font-size: var(--h2);
    font-weight: var(--fw-m);
}
nav {
    flex: 1;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a {
    padding-bottom: 1px;
}
.link-hover {
    position: relative;
}
.link-hover::before {
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid white;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
  }
  .link-hover:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
